body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  
  

path,
line
  fill: none
  stroke: #000
  shape-rendering: geometricPrecision

#g_layer path
	stroke-width: 10px


.sidebar
  height: 500px

div.tool div
  display: inline-block

