extends layout

block content
  svg#mainsvg
    g#g_layer
    g#colorpicker
  div.tool
    #clean 清除
    #color 色彩
  script(type='text/javascript'  src='/javascripts/colorlist.js')
  script(type='text/javascript'  src='/javascripts/board.js')